.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, max-content));
  grid-template-areas: "title website"
                       "image paragraph";

  gap: 48px 40px;
  margin-bottom: 80px;

}

.place:nth-of-type(5) {
  margin-bottom: 0;
}
