.intro {
  max-width: 690px;
  box-sizing: border-box;
  width: 100%;
  max-width: calc(100% - 100px - 394px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}
