.footer {
  max-width: 1185px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 92px 0 22px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 92px auto 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px;
  }
}